service vendor.fingerprint-virtual /vendor/bin/hw/android.hardware.biometrics.fingerprint-service.xiaomi-virtual
    interface aidl android.hardware.biometrics.fingerprint.IFingerprint/virtual
    class late_start
    user system
    group system input uhid
